
@import './index.scss';

%padding-home {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

::selection {
  background-color: $col-bone;
  color: $col-ruby;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.main {
  background-color: black; /* fallback color */
  background-image: $bg-img;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  visibility: visible;
  text-align: center;
  z-index: 2;
}

.main > * {
  padding: 10px;
  @include flex(1 100%);
}

.header {
  .canvas {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;

    Canvas {
      opacity: 0;
      touch-action: auto;
      animation: fade-in 1s ease .5s forwards;

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .container {
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    color: $col-ruby;

    .name {
      background-color: black;

      .link-style {
        @extend %links;
      }
    }
    .folio {
      background-color: black;
    }
    .info3 {
      @extend %link-invert;
      background-image: $fire2-img;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8rem;
      height: 5rem;
      overflow: hidden;
    }
    .name3 {
      background-image: $fire2-img;
      background-position: bottom;
      background-size: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      width: 18rem;
      height: 5.5rem;
      overflow: hidden;
    }
    .work3 {
      @extend %link-invert;
      background-image: $fire2-img;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8rem;
      height: 5rem;
      overflow: hidden;
    }
    .avail {
      background-color: black;
    }
    .contact {
      visibility: visible;
    }

    // Small screens
    @media all and (max-width: 900px) {
      flex-flow: wrap;
      .name {
        @include order(1);
        flex-basis: 50%;
      }
      .folio {
        @include order(2);
        flex-basis: 50%;
      }
      .info3 {
        @include order(3);
        flex-basis: 50%;
      }
      .name3 {
        @include order(5);
        flex-basis: 100%;
      }
      .work3 {
        @include order(4);
        flex-basis: 50%;
      }
      .avail {
        @include order(6);
        flex-basis: 50%;
      }
      .contact {
        @include order(7);
        flex-basis: 50%;
      }
    }
  }
}

.hero {
  visibility: visible;

  .container {
    @include flexbox();
    padding: .5rem;
    height: 80vh;
    min-height: 100px;
    overflow: auto;
    background-image: $bg2-img;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;

    .home {
      .text {
        @extend %red-on-black-text;
      }
    }

    .info {
      .text {
        @extend %red-on-black-text;
      }
    }

    .project {
      .card {
        @extend %red-on-black-text;
        margin-bottom: .5rem;
        max-height: 50vh;

        .image {
          aspect-ratio: 4/3;
          background-size: contain;
          height: 30vh;
          cursor: pointer;
        }

        .title {
          //background-color: black;
        }

        .text {
          //background-color: black;
          //font-size: larger;
        }
      }
    }

    .detail {
      @include flexbox();

      .image {
        //scale: 50%;
        height: 70vh;
      }
      .title {
        @extend %red-on-black-text;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-right: 0;
      }
      .body {
        @extend %red-on-black-text;
        margin: auto;
      }
    }
    // Small screens
    @media all and (max-width: 900px) {
      .project {
        .card {
          .image {
            //height: 30vh;
          }
        }
      }

      .detail {
        flex-direction: column;
        .image {
          height: fit-content;
        }
        .title {
          @extend %red-on-black-text;
          writing-mode: horizontal-tb;
          margin-bottom: 0;
        }
      }

    }

    .credit {
      &__text {
        visibility: visible;
        background-color: black;
        color: $col-ruby;
        font-style: italic;

        .link {
          @extend %links;
        }
      }
    }

    // Small screens
    @media all and (max-width: 900px) {
      height: 49vh;
      justify-content: normal;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}

.footer {
  .container {
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    color: $col-ruby;
    overflow: hidden;

    .clock {
      background-color: black;
    }
    .socials-center {
      visibility: visible;
    }
    .credit {
      background-color: black;

      .link-style {
        @extend %links;
      }
    }

    // Small screens
    @media all and (max-width: 900px) {
      flex-flow: wrap;
      .clock {
        @include order(2);
        flex-basis: 50%;
      }
      .socials-center {
        @include order(1);
        flex-basis: 100%;
      }
      .credit {
        @include order(3);
        flex-basis: 50%;
      }
    }
  }
}
