
$bg-img: url('../static/CIMG0894.JPG');
$bg2-img: url('../static/CIMG1165.JPG');
$fire-img: url('../static/fire.gif');
$fire2-img: url('../static/fire2.gif');

%padding-home {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: visible;
}

.main {
  @extend %padding-home;
  background-color: black; /* fallback color */
  background-image: $bg-img;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  visibility: visible;

  &__header {
    display: flex;
    min-width: 98vw;
    height: 5.5vh;
    overflow: hidden;
    .canvas {
      position: fixed !important;
      top: 0px;
      left: 0px;
      width: 100vw !important;
      height: 100vh !important;

      Canvas {
        opacity: 0;
        touch-action: auto;
        animation: fade-in 1s ease .5s forwards;

        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }

    .header {
      display: inherit;
      justify-content: space-between;
      .left {
        display: flex;
        flex-grow: 1;
        .name {
          padding-right: .5rem;
          background-color: black;
          color: red;
        }
        .folio {
          margin-right: auto;
          background-color: black;
          color: red;
        }
      }
      .center {
        display: flex;
        .info {
          background-image: $fire2-img;
          background-position: bottom;
          background-size: contain;
          background-repeat: no-repeat;
          margin: 0.2em;
          width: 8rem;
          height: 5rem;
          overflow: hidden;
        }
        .name {
          background-image: $fire2-img;
          background-position: bottom;
          background-size: 100%;
          //background-size: contain;
          background-repeat: no-repeat;
          margin: 0.2em;
          width: 18rem;
          height: 5.5rem;
          overflow: hidden;
        }
        .work {
          justify-content: space-around;
          background-image: $fire2-img;
          background-position: bottom;
          background-size: contain;
          background-repeat: no-repeat;
          margin: 0.2em;
          width: 8rem;
          height: 5rem;
          overflow: hidden;
        }
      }
      .right {
        display: flex;
        flex-grow: 1;
        .availability {
          background-color: black;
          color: red;
        }
        .contact {
          padding-top: .6rem;
          padding-left: .5rem;
          display: flex;
          background-color: black;
          color: red;
        }
      }
    }
  }

  &__home {
    visibility: hidden;
    .home {
      &__hero {
        display: flex;
        height: 70vh; // Take up 100% of the viewport height
        min-height: 100px;
        overflow: hidden;
        background-image: $bg2-img;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        .text {
          width: 100vw;
          //padding-left: 7rem;
          padding-top: 17rem;
          text-align: center;
          //background-color: black;
          color: red;
        }
      }
    }
  }

  &__footer {
    visibility: visible;
    position: relative;
    height: 5vh;
    //width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
    background-color: grey;
    //position: fixed;
    //bottom: 0;

    .footer {
      display: flex;
      &__left {
        .place {

        }
        .time {

        }
      }
      &__center {
        .socials {

        }
      }
      &__right {
        .credit {

        }
      }
    }
  }
}
