
@import './helpers/links.scss';

$bg-img: url('../static/CIMG0894.JPG');
$bg2-img: url('../static/CIMG1165.JPG');
$fire-img: url('../static/fire.gif');
$fire2-img: url('../static/fire2.gif');
$col-ruby: #9B111E;
$col-teal: #119B8E;
$col-sapphire: #0000FF;
$col-yellow: #FFFF00;
$col-bone: #E3dAC9;

%links {
  text-decoration: none;
  color: $col-ruby;
  transition: color 0.3s;

  @media (any-pointer: fine) {
    &:hover {
      color: $col-bone;
    }
  }
}

%link-invert {
  @media (any-pointer: fine) {
    &:hover {
      filter: invert(100%);
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

%padding-home {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

::selection {
  background-color: $col-yellow;
  color: $col-sapphire;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: visible;
}

.main {
  background-color: black; /* fallback color */
  background-image: $bg-img;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  visibility: visible;
  text-align: center;
}

.main > * {
  padding: 10px;
  @include flex(1 100%);
}

.header {
  .canvas {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100vw !important;
    height: 100vh !important;

    Canvas {
      opacity: 0;
      touch-action: auto;
      animation: fade-in 1s ease .5s forwards;

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .container {
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    color: $col-ruby;

    .name {
      background-color: black;

      .link-style {
        @extend %links;
      }
    }
    .folio {
      background-color: black;
    }
    .info3 {
      @extend %link-invert;
      background-image: $fire2-img;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8rem;
      height: 5rem;
      overflow: hidden;
    }
    .name3 {
      background-image: $fire2-img;
      background-position: bottom;
      background-size: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      width: 18rem;
      height: 5.5rem;
      overflow: hidden;
    }
    .work3 {
      @extend %link-invert;
      background-image: $fire2-img;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      width: 8rem;
      height: 5rem;
      overflow: hidden;
    }
    .avail {
      background-color: black;

    }
    .contact {
      //background-color: black;

    }

    // Small screens
    @media all and (max-width: 900px) {
      flex-flow: wrap;
      .name {
        @include order(1);
        flex-basis: 50%;
      }
      .folio {
        @include order(2);
        flex-basis: 50%;
      }
      .info3 {
        @include order(3);
        flex-basis: 50%;
      }
      .name3 {
        @include order(5);
        flex-basis: 100%;
      }
      .work3 {
        @include order(4);
        flex-basis: 50%;
      }
      .avail {
        @include order(6);
        flex-basis: 50%;
      }
      .contact {
        @include order(7);
        flex-basis: 50%;
      }
    }
  }
}

.home {
  visibility: visible;
  .container {
    @include flexbox();
    height: 79vh;
    min-height: 100px;
    overflow: hidden;
    background-image: $bg2-img;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-around;

    .text {
      visibility: visible;
      background-color: black;
      color: $col-ruby;
      font-style: italic;
    }

    // Small screens
    @media all and (max-width: 900px) {
      height: 51vh;
    }
  }
}

.footer {
  .container {
    @include flexbox();
    justify-content: space-around;
    align-items: center;
    color: $col-ruby;
    overflow: hidden;

    .clock {
      background-color: black;
    }
    .socials-left {
      //background-color: black;
    }
    .socials-right {
      //background-color: black;

    }
    .credit {
      background-color: black;

      .link-style {
        @extend %links;
      }
    }

    // Small screens
    @media all and (max-width: 900px) {
      flex-flow: wrap;
      .clock {
        @include order(1);
        flex-basis: 50%;
      }
      .socials-left {
        @include order(3);
        flex-basis: 100%;
      }
      .socials-right {
        @include order(4);
        flex-basis: 100%;
      }
      .credit {
        @include order(2);
        flex-basis: 50%;
      }
    }
  }
}
