%title-328 {
  font-size: 32.8rem;
  letter-spacing: -0.05em;
  font-family: $font-bookish;
  word-break: break-word;

  @include media("<=phone") {
    font-size: 160px;
  }
}

%title-100 {
  font-size: 10rem;
  font-family: $font-bookish;
  letter-spacing: -0.025em;

  @include media("<=phone") {
    font-size: 80px;
    word-break: break-word;
  }
}
